<!doctype html>
<html>
<head>
  <title>Illuminator: 404</title>
  <link rel="stylesheet" href="/css/illuminator.css"/>
  <link rel="icon" type="image/x-icon" href="favicon.png" />
</head>
<body>
  <img class="centered logo" src="/images/logo.png" alt="Illuminator Logo">
</body>
</html>
