<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Illuminator: #CC.RU logs</title>
  <link rel="stylesheet" href="/css/illuminator.css"/>
  <link rel="icon" type="image/x-icon" href="favicon.png" />
</head>
<body>
  <aside id="sidebar" class="nonselectable">
    <a href="/"><img class="logo" src="/images/logo.png" alt="Illuminator Logo"></a>
    <div class="files">
      <% files.each do |file| %>
        <a class="list filename <% if file == current_file %>active<% end %>" href="/<%= file %><%= render_query(params, "?") %>"><%= file %></a>
      <% end %>  
    </div>
  </aside>
  <div id="log">
    <div class="header">
      <span class="filename"><%= current_file %></span>
      <span id="search-container">
        <img id="search-icon" src="/images/search.png" />
        <input type="search" id="search" placeholder="search..." />
      </span>
      <span class="header-buttons">
        <a href="/<%= current_file %><%= render_query(params.merge({ "colorize" => "true" }), "?") %>">colorize</a>
        <a href="/download/<%= current_file %>">raw</a>
      </span>
    </div>
    <div class="content">
      <div class="messages">
        <% log.messages.each_with_index do |message, i| %>
          <div class="msg <% if message[:nickname] == "***" %>join<% elsif message[:nickname] == "*" %>action<% end %><% if message[:nickname] == highlight %> highlight<% end %>">
            <a id="<%= i %>" class="time" href="#<%= i %>"><%= message[:time] %></a>
            <%= renderer.renderNickname(message[:nickname], params.fetch("colorize", "false")) %>
            <span class="text"><%= renderer.renderLine(message[:text]) %></span>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    (function() {
      var search = document.getElementById("search");
      search.addEventListener("keydown", function(event) {
        if (event.keyCode === 13) {
          window.location.href = '/search?q=' + search.value + '<%= render_query(params.reject("q", "page"), "&") %>';
        }
      });

      var content = document.getElementsByClassName("content")[0]
      
      if (window.location.hash)
        content.scrollTop = document.getElementById(window.location.hash.substr(1)).offsetTop;
      else
        content.scrollTop = content.scrollHeight;

      content.addEventListener("click", function(e) {
        if (e.target.className.lastIndexOf("from") === 0) {
          var nickname = e.target.textContent.slice(1, -1)
          window.location.replace('/<%=current_file%>?highlight=' + nickname + '<%= render_query(params.reject("highlight"), "&") %>');
        }
      });
    })();
  </script>
</body>
</html>
