<!doctype html>
<html>
<head>
  <title>Illuminator: #CC.RU logs</title>
  <link rel="stylesheet" href="/css/illuminator.css"/>
  <link rel="icon" type="image/x-icon" href="favicon.png" />
</head>
<body>
  <aside id="sidebar">
    <img class="logo" src="/images/logo.png" alt="Illuminator Logo">
    <div class="files">
      <% files.each do |file| %>
        <div class="list filename <% if file == current_file %>active<% end %>">
          <a href="/<%= file %>"><%= file %></a>
        </div>
      <% end %>  
    </div>
  </aside>
  <div id="log">
    <div class="header">
      <span class="filename"><%= current_file %></span>
    </div>
    <div class="content">
      <div class="messages">
        <div class="msg join">
          <span class="time">22:23</span>
          <span class="from">
            <button class="user">--></button>
          </span>
          <span class="text">Totoro joined the channel</span>
        </div>
        <div class="msg message self">
          <span class="time">22:59</span>
          <span class="from">
            <button class="user">Totoro</button>
          </span>
          <span class="text">
            unicorns forever
          </span>
        </div>
        <div class="msg message">
          <span class="time">23:00</span>
          <span class="from">
            <button class="user">Totoro</button>
          </span>
          <span class="text">
            forever and ever
          </span>
        </div>
        <div class="msg action">
          <span class="time">23:23</span>
          <span class="from">
            <button class="user">Totoro</button>
          </span>
          <span class="text">is crazy</span>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
