<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Illuminator: #CC.RU logs</title>
  <link rel="stylesheet" href="/css/illuminator.css"/>
  <link rel="icon" type="image/x-icon" href="favicon.png" />
</head>
<body>
  <aside id="sidebar">
    <a href="/"><img class="logo" src="/images/logo.png" alt="Illuminator Logo"></a>
    <div class="files">
      <% files.each do |file| %>
        <div class="list filename <% if file == current_file %>active<% end %>">
          <a href="/<%= file %>"><%= file %></a>
        </div>
      <% end %>  
    </div>
  </aside>
  <div id="log">
    <div class="header">
      <span class="filename"><%= current_file %></span>
    </div>
    <div class="content">
      <div class="messages">
        <% log.messages.each do |message| %>
          <div class="msg <% if message[:nickname] == "***" %>join<% elsif message[:nickname] == "*" %>action<% else %>message<% end %>">
            <span class="time"><%= message[:time] %></span>
            <span class="from"><%= message[:nickname] %></span>
            <span class="text"><%= message[:text] %></span>
          </div>
        <% end %> 
      </div>
    </div>
  </div>
</body>
</html>
