<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Illuminator: #CC.RU logs</title>
  <link rel="stylesheet" href="/css/illuminator.css"/>
  <link rel="icon" type="image/x-icon" href="favicon.png" />
</head>
<body>
  <aside id="sidebar" class="nonselectable">
    <a href="/"><img class="logo" src="/images/logo.png" alt="Illuminator Logo"></a>
    <div class="files">
      <% files.each do |file| %>
        <div class="list filename">
          <a href="/<%= file %><% if !params["query"].is_a? Nil %>?<%= params["query"] %><% end %>"><%= file %></a>
        </div>
      <% end %>  
    </div>
  </aside>
  <div id="log">
    <div class="header">
      <span class="filename">search results for `<%= request %>`</span>
      <span id="search-container">
        <img id="search-icon" src="/images/search.png" />
        <input type="search" id="search" placeholder="search..." onkeydown="search(this)" />
      </span>
    </div>
    <div class="content">
      <div class="messages">
        <% search.results.each do |result| %>
          <div class="msg">
            <span class="time group"></span>
            <span class="from group">from <a href="/<%= result[:file] %>"><%= result[:file] %></a>:</span>
            <span class="text group"></span>
          </div>
          <% result[:messages].each do |message| %>
            <div class="msg <% if message[:nickname] == "***" %>join<% elsif message[:nickname] == "*" %>action<% end %>">
              <a class="time" href="/<%= message[:file] %>#<%= message[:line] %>"><%= message[:time] %></a>
              <%= renderer.renderNickname(message[:nickname], params["colorize"]) %>
              <span class="text"><%= renderer.renderLine(message[:text]) %></span>
            </div>
          <% end %>
        <% end %> 
      </div>
      <div class="pagination nonselectable">
        <% if page > 0 %>
          <a href="/search?q=<%= request %>&page=<%= page - 1 %>"><img id="prev" class="arrow" src="/images/left.png" /></a>
        <% end %>
        <span class="numbers"><%= page + 1 %> / <%= search.pages_total %></span>
        <% if page < search.pages_total - 1 %>
          <a href="/search?q=<%= request %>&page=<%= page + 1 %>"><img id="next" class="arrow" src="/images/right.png" /></a>
        <% end %>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    function search(element) {
      if(event.key === 'Enter') {
        window.location.href = '/search?q=' + element.value<% if !params["query"].is_a? Nil %> + '&<%= params["query"] %>'<% end %>;
      }
    }
    (function() {
      if (window.location.hash) {
        var content = document.getElementsByClassName("content")[0]
        content.scrollTop = document.getElementById(window.location.hash.substr(1)).offsetTop;
      }
    })();
  </script>
</body>
</html>
